/* src/components/Header.css */

/* 초기 상태: 헤더는 화면 상단 밖에 위치 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 20px;
  position: fixed;
  top: -80px; /* 페이지 로딩 시 헤더는 화면 밖 */
  left: 0;
  right: 0;
  z-index: 100;
}

.header.show {
  top: 0; /* 화면 상단에 고정되도록 설정 */
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* 스크롤 시 배경 어두워짐 */
}

/* 헤더 내 항목 스타일 */
.header__logo {
  flex: 1;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex: 2;
}

.header__navItem {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.header__navItem:hover {
  color: #e50914;
}

.header__profile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.header__profileButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__email {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 15px;
  align-content: center;
}
